@model WatsonORT.Dominio.Clases.ResultadoWatson
@{
    ViewBag.Title = "Resultado del análisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vacio">
    <h1>Watson Personality Insights</h1>
    <p class="lead">Resultado del análisis</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Valor</th>
                <th>sampling_error</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Elementos)
            {
                <tr>
                    <th scope="row">@item.Id[0]</th>
                    <td>@item.Title[0]</td>
                    <td>@item.Value[0]</td>
                    <td>@item.Sampling_error[0]</td>
                </tr>
            }
        </tbody>
    </table>
</div>
