@model WatsonORT.Presentacion.Models.IngresoCodigoViewModel
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vacio">
    <h1>Watson ORT</h1>
    <p class="lead">Vacio</p>
 
    @*<p><a href="#" class="btn btn-primary btn-lg"></a></p>*@
</div>
