@{
    ViewBag.Title = "Registrarse";
}

<div class="jumbotron">
    <h1>Gracias por registrarte!</h1>
    <p class="lead">Hemos enviado un código a tu casilla de correo que podrás utilizar para consultar los resultados del análisis de tu personalidad.</p>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Volver</a>
    </p>
</div>