@{
    ViewBag.Title = "Registro exitoso";
}
<h2>@ViewBag.Title.</h2>

<h3> Mensaje</h3>

<p><a href="@Url.Action("Create", "ConsultaAnalisis")" class="btn btn-primary btn-lg">Nueva consulta</a></p>
<p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Home</a></p>